@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

button,
a {
  cursor: pointer;
}

.container {
  max-width: 123rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.title {
  padding-top: 9rem;
  margin-bottom: 7rem;
  font-weight: 600;
  font-size: 3.4rem;
  text-align: center;
}

.header {
  padding-top: 4.6rem;
  background-color: rgb(241, 241, 241);

  .header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .navigation-logo {
      position: relative;
      padding: 0 1.2rem 0.3rem 0;
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 1;
      color: black;
      transition: transform 0.1s;
      text-decoration: none;

      &::after {
        content: "";
        width: 0.8rem;
        height: 0.8rem;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        background-color: rgb(253, 163, 0);
      }

      &:active {
        transform: translateY(2px);
      }
    }

    .navigation-list {
      display: flex;

      .navigation-item {
        list-style: none;

        .navigation-link {
          position: relative;
          font-weight: 500;
          font-size: 1.4rem;
          color: black;
          text-decoration: none;

          &::after {
            content: "";
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: -2px;
            left: 0;
            background-color: black;
            transform: scale(0);
            transition: transform 0.5s;
          }

          &:hover::after {
            transform: scale(1);
          }

          &.active-link {
            color: rgb(96, 96, 96);
          }

          &.active-link::after {
            background-color: rgb(96, 96, 96);
          }
        }
      }

      .navigation-item:not(:first-child) {
        margin-left: 5rem;
      }
    }

    .navigation-burger-button {
      display: none;
      width: 33px;
      height: 20px;
      position: relative;
      justify-content: flex-end;
      align-items: center;
      background-color: transparent;
      z-index: 2;

      span {
        width: 100%;
        height: 4px;
        transform: scale(1);
        background-color: black;
        transition: transform 0.2s;
      }

      &::before,
      &::after {
        width: 100%;
        height: 4px;
        content: "";
        position: absolute;
        background-color: black;
        transition: all 0.2s;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      // анимация бургера
      &.active-burger span {
        transform: scale(0);
        transition: none;
      }

      &.active-burger::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
        background-color: rgb(96, 96, 96);
      }

      &.active-burger::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
        background-color: rgb(96, 96, 96);
      }
      //
    }
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    margin-top: 7.6rem;

    .header-content__info {
      margin-top: 12.4rem;

      h1 {
        display: inline-block;

        font-weight: 600;
        font-size: 4.4rem;
        line-height: 6.6rem;

        span {
          display: block;
        }
      }

      p {
        margin-top: 2rem;
        font-size: 1.4rem;
        line-height: 2;

        span {
          display: block;
        }
      }
    }

    .header-content__img {
      width: auto;
      height: auto;
      display: block;
    }
  }
}

.services {
  margin-top: 9rem;

  .services-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
  }

  .services-card {
    .services-items__img {
      margin-bottom: 3rem;
    }

    h3 {
      margin-bottom: 1rem;
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 3.6rem;
      text-transform: uppercase;
    }

    p {
      max-width: 37rem;
      font-size: 1.4rem;
      line-height: 2;
    }
  }
}

.portfolio {
  margin-top: 9rem;
  background-color: rgb(241, 241, 241);

  .portfolio-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .portfolio-card {
      .portfolio-items__img {
        margin-bottom: 4rem;
      }

      h3 {
        text-align: center;

        a {
          font-size: 1.8rem;
          font-weight: 400;
          color: black;
          transition: color 0.3s;

          &:hover {
            color: blue;
          }
        }
      }
    }
  }

  .portfolio-items {
    padding-bottom: 9rem;
  }
}

.footer {
  margin-bottom: 9rem;

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > p {
      margin-bottom: 4rem;
      font-size: 1.8rem;
      text-align: center;

      span {
        display: block;
      }
    }
    .footer-content__link {
      margin-bottom: 8rem;
      padding: 0.7rem 2.3rem;
      border-radius: 3rem;
      color: white;
      background-color: black;
      transition: transform 0.1s;
      text-decoration: none;

      &:hover {
        background-color: rgb(48, 48, 48);
      }

      &:active {
        transform: translateY(2px);
      }
    }
    .footer-content__social {
      .social-items {
        display: flex;
        margin-bottom: 4rem;

        .social-items__link {
          transition: transform 0.1s;

          &:active {
            transform: translateY(2px);
          }
        }

        .social-items__link:not(:last-child) {
          margin-right: 6rem;
        }
      }

      > p {
        font-size: 1.4rem;
        color: rgb(130, 130, 130);
        text-align: center;

        span {
          display: block;
        }
      }
    }
  }
}

@import "./media";
